<router-outlet></router-outlet>
<!-- <lib-ng-toast></lib-ng-toast> -->
<!-- <!DOCTYPE html>
<mat-toolbar color="primary">
  <span>My App</span>
  <span class="example-spacer"></span>
  <div class="">
    <button mat-raised-button color="accent" (click)="openSignUpDialog()">SignUp</button>
  </div>
  <div class="">
    <button mat-raised-button color="accent" (click)="openSignInDialog()">SignIn</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet> -->
<!-- <div class="example-button-row">
  <button mat-raised-button color="accent" (click)="openDialog()">Add Product</button>
</div> -->


