<!DOCTYPE html>
<h1 mat-dialog-title>{{actionName}}</h1>
  <div mat-dialog-content>
      <form [formGroup]="productForm">
        <div class="form-group pt-3">
          <div class="input-field" [class.error]="productForm.controls['title'].dirty && productForm.hasError('required','title')"> <span class="fa fa-user p-2"></span> <input formControlName="title" type="text" placeholder="Title"></div>
        </div>
        <small *ngIf="productForm.controls['title'].dirty && productForm.hasError('required','title')" class="text-danger">*Title is required*</small>
        <div class="form-group pt-3">
          <div class="input-field" [class.error]="productForm.controls['quantity'].dirty && productForm.hasError('required','quantity')"> <span class="fa fa-user p-2"></span> <input formControlName="quantity" type="text" placeholder="Quantity"></div>
        </div>
        <small *ngIf="productForm.controls['quantity'].dirty && productForm.hasError('required','quantity')" class="text-danger">*Quantity is required*</small>
        <div class="form-group pt-3">
          <div class="input-field" [class.error]="productForm.controls['price'].dirty && productForm.hasError('required','price')"> <span class="fa fa-user p-2"></span> <input formControlName="price" type="text" placeholder="Price"></div>
        </div>
        <small *ngIf="productForm.controls['price'].dirty && productForm.hasError('required','price')" class="text-danger">*Price is required*</small>
        <small *ngIf = "productForm.controls['price'].errors?.['pattern'] ">Value must be number.</small>
      </form>
  </div>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
</div>

